<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arc2Face Demo</title>
    <link rel="icon" type="image/svg+xml" href="static/images/DIVE-logo.svg">
    <link rel="stylesheet" href="static/styles/style.css">
<!--    <script src="https://cdn.jsdelivr.net/npm/json-formatter-js@1.0.2/dist/json-formatter.min.js"></script>-->
</head>
<body>
<div class="app">
    <div id="modal-overlay" class="modal">
        <div id="loading-modal" class="modal-inner">
            <div class="spinner-container">
                <span class="loader"></span>
                <div class="loading-message"></div>
            </div>
            <button id="loading-cancel-button" class="cancel-button">Cancel</button>
        </div>
        <div id="error-modal" class="error-modal">
            <div class="modal-header">
                <h2 class="modal-title">Error</h2>
                <span id="close-error-modal-button" class="close-button"><img src="static/images/close.svg" alt="Close button"></span>
            </div>
            <div class="modal-body">
                <div class="error-info">
                    <div>
                        <img src="static/images/warning-triangle.svg" alt="Warning icon">
                    </div>
                    <div class="error-message"></div>
                </div>
                <button id="error-confirm-button" class="confirm-button">Ok</button>
            </div>
        </div>
        <div class="add-new-file-modal">
            <div class="modal-header">
                <h2 class="modal-title">Add New</h2>
                <span id="close-add-new-file-modal-button" class="close-button"><img src="static/images/close.svg" alt="Close button"></span>
            </div>
            <img class="add-new-file-icon" src="static/images/document.add.svg" alt="icon"/>
            <div class="start-screen-dialog__text">
                Drag PDF, JPG, PNG file here <br>
                or press the Add New button below
            </div>
            <button class="add-new-file-modal-button">
                Browse
                <img src="static/images/folder.svg" alt="Folder opened">
                <input type="file" id="brose-button" />
            </button>
        </div>
    </div>
    <div class="screen start-screen" id="screen1">
        <div class="start-screen-dialog" id="add-new-file">
            <img class="start-screen-dialog__logo" src="static/images/logo-idscan.net-color.svg" alt="Logo">
            <h2 class="start-screen-dialog__title">
                Arc2Face Demo
            </h2>
            <div class="service-status">Service Status <span class="status-indicator"></span></div>
            <hr>
            <img class="start-screen-dialog__icon" src="static/images/document.add.svg" alt="icon"/>
            <div class="start-screen-dialog__text">
                Drag PDF, JPG, PNG file here <br>
                or press the Add New button below
            </div>
            <button>
                Add New
                <img src="static/images/plus.svg" alt="">
            </button>
            <input type="file" id="upload-input" />
        </div>
    </div>
    <div class="screen result-screen" id="screen2">
        <div class="navigation-back">
            <span class="navigation-back-button">
                <img src="static/images/arrow-left.svg">
                <span>Back</span>
            </span>
            <div class="service-status">Service Status <span class="status-indicator"></span></div>
        </div>
        <section>
            <article>
                <div class="content-view">
                    <div class="content-view__header">
                        <div id="document-name"></div>
                        <div class="content-view__header-buttons">
                            <button class="add-new-file-button">
                                Add new
                                <img class="add-button-icon" src="static/images/plus.svg" alt="Plus icon">
                            </button>
                            <button class="recognize-button">
                                Recognize
                                <img src="static/images/chevron-right.svg" alt="Chevron right">
                            </button>
                        </div>
                    </div>
                    <div class="content-view__content">
                        <img src="" id="document-image">
                    </div>
                </div>
            </article>
            <article>
                <div class="content-view">
                    <div class="content-view__header">
                        <div>JSON</div>
                        <div class="content-view__header-buttons">
                            <button id="copy-button" class="copy-and-save-buttons">
                                Copy
                                <img src="static/images/copy.svg" alt="Copy icon">
                            </button>
                            <button id="save-button" class="copy-and-save-buttons">
                                Save
                                <img src="static/images/save.svg" alt="Save icon">
                            </button>
                        </div>
                    </div>
                    <div class="content-view__content document-text">
<!--                        <div class="image-base-64">-->
<!--                            <img src="" id="document-image-base64">-->
<!--                        </div>-->
                        <div id="document-text"></div>
                        <div class="document-text-empty">
                            <img src="static/images/circle-warning.svg">
                            <div>Text is not found</div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <footer>
            <div>2024, Arc2Face Demo v1.0.0</div>
            <img src="static/images/logo-idscan.net-color.svg">
        </footer>
    </div>
    <script src='https://cdn.jsdelivr.net/npm/tesseract.js@5/dist/tesseract.min.js'></script>
    <script type="module" src="static/scripts/index.js"></script>
</div>
</body>
</html>
