numpy<1.24.0
torchvision==0.15.2
diffusers==0.23.0
torch --find-links https://download.pytorch.org/whl/cu121
transformers==4.34.1
huggingface_hub==0.24.0
peft
accelerate
insightface
onnxruntime-gpu
gradio
Flask~=3.0.0
Werkzeug~=3.0.1
WSGIserver ==1.3